extends @pug/base

prepend vars
    //-

append vars
    //-

block content
    .site
        include @components/header/header
        include @components/app/app
        //- include @components/test/test
